.container {
    padding: 10px;
    /* background-color: rgb(196, 192, 192); */
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(200px, 35%));
    /* align-items: center;
    justify-content: center; */
}

.container>div {
    
    background-color: rgb(196, 192, 192);
   
   /* align-self: center;
    justify-self: center; */
}
.one{
    /* align-self: center;
    justify-self: center;
     */
}
.two{
    
    background-color: rgb(80, 79, 79);
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
div.two *{
    background-color: rgb(104, 103, 103);
}
.three{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.two{
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}